---
import Container from "../components/layouts/Container.astro";
import PageTitle from "../components/ui/PageTitle.astro";
import SocialLinks from "../components/ui/SocialLinks.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/content/Prose.astro";
---

<BaseLayout
    title="About Me | プロフィール"
    description="Aspratou のプロフィール"
    ogImage="https://res.cloudinary.com/dellp9a4z/image/upload/v1756758384/og-about_gl5gyr.png"
>
    <Container class="mx-auto max-w-4xl py-12">
        <PageTitle title="About Me" />

        <Prose class:list={"mt-16"}>
            <h2>運営者</h2>
            <p>
                普段はソフトウェアローカライズの仕事に携わりながら、育児に奮闘している2児の父。<br>
                日々の生活の中でインプット、アウトプット、行動や感じたことを言語化し、自分自身のデータベースとして記録。
            </p>

            <h2>発信している主なテーマ</h2>
            <ul>
                <li><strong>Game：</strong> Switch や PC でプレイしたゲーム、およびそれに関する想い</li>
                <li><strong>Book：</strong> 日々読んだ読書の感想や学び</li>
                <li><strong>English：</strong> 取り組んでいる英語学習のことやこれまでの体験談</li>
                <li><strong>Diary：</strong> 日記やWeb サイトのこと</li>
            </ul>

            <h2>趣味・ライフスタイル</h2>
            <p>
                ダンス、英語学習、読書、ゲーム 
            </p>
        </Prose>

        <div class="mt-12 px-4 sm:px-6 md:px-0 border-t border-gray-200 dark:border-gray-800 pt-12">
            <h2 class="text-2xl font-bold">Connect with me</h2>
            <p class="mt-2 text-gray-700 dark:text-gray-300">
                You can find me on the following platforms.
            </p>
            <SocialLinks class="mt-6" appearance={"chip"} />
        </div>
    </Container>
</BaseLayout>