---
import BaseLayout from '../layouts/BaseLayout.astro'; // お使いのテンプレートのレイアウトに合わせてください
---

<BaseLayout title="お問い合わせ">
  <main class="container">
    <h1>お問い合わせ</h1>
    <p>当ブログに関するお問い合わせは、以下のフォームよりお願いいたします。</p>
    
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScC2W75bvzyQEtZf1Ht8kJv0oZfP_AgkNaHiT9h5SKJG_Xpvw/viewform?embedded=true" width="640" height="826" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
  </main>
</BaseLayout>